In [28]:
import collections
import requests
import pandas as pd

In [66]:
# url = 'https://www.vegvesen.no/nvdb/api/v3/vegobjekttyper.json'
url = 'https://www.utv.vegvesen.no/nvdb/api/v3/vegobjekttyper.json'
r = requests.get( url, params={ 'inkluder' : 'relasjonstyper'})
vt = r.json()

In [81]:
objliste = []
# objtype = vt[0]
for objtype in vt: 
    nybeskr = collections.OrderedDict()
    nybeskr['ID'] = objtype['id']
    nybeskr['Navn'] = objtype['navn']
    nybeskr['allebarn'] = ''
    allebarnliste = []

    for counter, barn in enumerate( objtype['relasjonstyper']['barn']):
        if 'type' in barn.keys(): 
            barnid = str( barn['type']['id'] )
            navnestreng = barn['type']['navn']
        else: 
            barnid = str( barn['innhold']['type']['id'] )
            navnestreng = barn['innhold']['type']['navn']
        
        allebarnliste.append(barnid)
        nybeskr['Barn' + str( counter+1)] = barnid
        navnestreng.replace(';', '')
        nybeskr['Navn' + str( counter+1)] = navnestreng
    
    nybeskr['allebarn'] = ','.join( allebarnliste)
    objliste.append( nybeskr)

In [80]:
barn.keys()

dict_keys(['relasjonstype', 'id', 'navn', 'egenskapstype', 'type'])

In [82]:
regneark = pd.DataFrame.from_records( objliste)

In [84]:
regneark.to_csv( 'tnedakat.csv', sep=';', index=False, encoding='utf-8-sig')

In [83]:
regneark[ ~regneark.Navn10.isnull()][['ID', 'Navn',  
                                     'Navn14', 'Navn15', 'Navn16', 'Navn17', 'Navn18']]

,ID,Navn,Navn14,Navn15,Navn16,Navn17,Navn18
23,39,Rasteplass,Lekeapparat,Bygning,NaN,NaN,NaN
33,49,Trafikkøy,NaN,NaN,NaN,NaN,NaN
38,64,Ferjeleie,Dokumentasjon,Kommentar,NaN,NaN,NaN
41,67,Tunnelløp,Støtpute,Kum,Fordelingstavle,Taljer/Løfteutstyr,Utgår_Havarinisje
89,172,Trafikkdeler,"Grøft, åpen",Grasdekker,NaN,NaN,NaN
134,447,Tunnelløp uten trafikk,Betongutstøping,Vann- og frostsikring,Dokumentasjon,NaN,NaN
165,487,Holdeplassutrustning,Trafikklomme,NaN,NaN,NaN,NaN

In [65]:
regneark[ regneark.ID == 96 ]

,ID,Navn,allebarn,Barn1,Navn1,Barn2,Navn2,Barn3,Navn3,Barn4,...,Barn69,Navn69,Barn70,Navn70,Barn71,Navn71,Barn72,Navn72,Barn73,Navn73
64,96,Skiltplate,"446,762,438,297",446.0,Dokumentasjon,762.0,"Tilstand/skade FU, punkt",438.0,"Tilstand/skade, skiltplate",297.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN